$fontSize: 10px;
$mainBlueColor: #331bcf;
$subBlueColor: #0099cc;
$lightBlueColor: #befaff;
$redColor: #ff3860;
$blackColor: #2e2b2b;
$shadowColor: rgba(34, 60, 80, 1);
$subLightBlueColor: #46e9f1c4;